@import 'bootstrap/dist/css/bootstrap.css';
html, body {
  height: 64%;
  margin-right: 35%;
  margin-left: 35%;
  margin-top: 18%;
  margin-bottom: 18%;
  color: white;
}

html {
  background-color:mediumpurple;
}

body {
  background-color:blueviolet;
}

.container, .row.justify-content-center.align-items-center {
  height: 100%;
  min-height: 100%;
}